a:link {
  color: darkgreen;
}
a:visited {
  color: saddlebrown;
}
a:active {
  color: green;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

footer {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 0 auto;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: lightslategrey;
}

footer > section {
  font-size: small;
  text-align: center;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 50px;
  overflow: auto;
}

img.site-logo {
  width: 128px;
  height: 128px;
  margin: 25px;
}

img.thumbnail {
  width: 213px;
  height: 120px;
  border-radius: 7px;
}

h1.site-title {
  margin: 30px 80px;
}

header {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;

  background-color: white;
  font-family: Love Ya Like A Sister, Sans Serif;
  font-size: 48px;
}

main {
  width: 100%;
  padding: 0;
  height: 100%;
  margin-top: 180px;
}

p.image-placeholder {
  width: 213px;
  height: 120px;
  margin: 0;
  background-color: gainsboro;
  border-radius: 0.6em;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > article > p,
section > article > h2 {
  margin: 20px;
}

.ad-sideboard {
  background-color: white;
  width: 100%;
  margin: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ad-sideboard-container {
  float: right;
  display: flex;
  height: 100%;

  visibility: hidden;
}

.content-article {
  margin: 20px auto;
  padding: 50px;
  overflow: auto;
  
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.content-block {
  max-width: 1000px;
  margin: 20px auto;
}

.cover-photo {
  width: 100%;
  height: 600px;

  background-image: url("mannor.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.item-tray {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.item-tray-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 1em;
}

.lifted {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vertical-stackpanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  text-align: center;
}

.vertical-stackpanel > section:nth-child(even),
.footer-container {
  background-color: white;
  box-shadow: inset 0.3em 0.3em 1em burlywood;
}

.vertical-stackpanel > section:nth-child(odd) {
  background-color: burlywood;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@media (max-width: 850px) {
  .cover-photo {
    background-attachment: local;
  }
  header {
    font-size: 24px;
  }
  img.site-logo {
    width: 64px;
    height: 64px;
    margin: 10px;
  }
  h1.site-title {
    margin: 12px 20px;
  }

  main {
    margin-top: 84px;
  }
}

@media (max-width: 600px) {
  .ad-sideboard {
    flex-direction: row;
    width: 100%;
    margin: 400px 0 0 0;
    padding: 0;
  }
  .ad-sideboard-container {
    float: none;
    display: flex;
    width: 100%;
    height: auto;
  }
  .cover-photo {
    height: 540px;
  }
}
